[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MVN"]
	path = MVN
	url = https://github.com/selcukorkmaz/mvn
[submodule "PubChemR"]
	path = PubChemR
	url = https://github.com/selcukorkmaz/pubchemr
[submodule "bioLeak"]
	path = bioLeak
	url = https://github.com/selcukorkmaz/bioleak
[submodule "fastml"]
	path = fastml
	url = https://github.com/selcukorkmaz/fastml
